@font-face {
    font-family: "Inter-ExtraBold";
    src: url(/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "Inter-Bold";
    src: url(/fonts/Inter-Bold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(/fonts/Inter-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter-Regular";
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #e8e8f3;
    color: #1F2132;
}

h1,
h2 {
    font-size: 45px;
    font-family: "Inter-ExtraBold"
}

h3,
h4,
b {
    font-family: "Inter-Bold";
    font-size: 22px;
    opacity: .8;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: "Inter-Bold";
    font-size: 18px;
    outline: none;
    border: none;
}

.github-icon {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2;
    height: 50px;
    width: 50px;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 5px 5px 38px #c8c8d1,
        -5px -5px 38px #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;

}

.top {
    width: 100vw;
    height: 300px;
    text-align: center;
    padding: 20px;
    opacity: .8;
}

.top h1 {
    margin-top: 90px;
    text-shadow: 2px 3px 10px rgba(5, 5, 5, .15)
}



#input {
    height: 60px;
    width: 85%;
    padding: 10px;
    border-radius: 8px;
    background: #e8e8f3;
    box-shadow: inset 5px 5px 10px #d8d8e2,
        inset -5px -5px 10px #f8f8ff;

}

#result-container {
    min-height: 120px;
    min-width: 85%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    background: #e8e8f3;
    box-shadow: 5px 5px 10px #d8d8e2,
        -5px -5px 10px #f8f8ff;
    border-left: 5px solid #5EEC60;
}

#copy-btn {
    height: 55px;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
    background: inherit;
    box-shadow: 5px 5px 10px #d8d8e2,
        -5px -5px 10px #f8f8ff;
    transition: 0.45s all;
}

#copy-btn:hover {
    background: linear-gradient(145deg, #d1d1db, #f8f8ff);
    box-shadow: 5px 5px 10px #d8d8e2,
        -5px -5px 10px #f8f8ff;
}